body {
    margin: 0;
}

header{ 
    display: block;
    text-align: center;
    padding:0.5%;
    background-color: grey;
}

h4 {
    font-size: 18pt;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#hd2 {
    font-size: 13pt;
    font-weight: bold;
    font-family: sans-serif;
}

ul.topnav, button{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li, #displaybutton{
    float: left;
}

ul.topnav li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

button {
    padding: 0.85rem;
    color: white;
    border: none;
    text-align: center;
    font-size: 12pt;
}

button:hover {
    background-color: #4CAF50;
}

ul.topnav li a:hover {
    background-color: #4CAF50;
}

ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right, button,
  ul.topnav li, #displaybutton {
      float: none; 
    }
}

.addnew, .modifynew, .deletenew, .searchnew, .tb1, .homepage, .helppage, .addsuccess, .addfailure, .displayppl{
    font-size: 13pt;
    border-radius: 3rem;
    background-color: #96eb0c;
    padding: 2rem;
}

input[type=text], [type=number],[type=date],[type=submit]{
    width: 100%;
    padding: 0.25rem;
    border-radius: 1%;
}

input[type=text], [type=number],[type=date],[type=submit]:focus {
    outline: none;
    box-shadow: 0px 0px 5px #61C5FA;
    border:1px solid #5AB0DB;
}

input[type=submit] {
    background-color:rgba(70, 69, 69, 0.562);
    color: black;
    font-size: 13pt;
    padding: 0.25rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: green;
}

label {
    padding: 0.5rem 0rem 0.5rem 0rem;
    display: inline-block;
    font-weight: bold;
}


table{
    background-color: #96eb0c;
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
    border: 0.5 solid black;
    left: 0%;
    top: 10%;
}

tr.tb1 {
    font-weight: bold;
    font-size: 14pt;
}

td, th{
    border: 2px solid black;
    padding:0.5rem;
    width: 5%;
    /* font-weight: bold; */
    text-align: center;
    font-size: 13pt;
}

#imag {
    display: block;
    width:10rem;
    height: auto;
    float: right;
    top: 0;
}

#imag2 {
    display: block;
    width: 20rem;
    height: auto;
    float: right;
}

u{
    color: blue;
}

#red {
    color: red;
}