<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Display All People</title>
    <link rel='stylesheet' type='text/css' media='screen' href='stylesheets/style.css'>

</head>
<body>
    <header> 
        <h1>Database People </h1>
    </header>

  <nav>
    <ul class="topnav">
      <li><a href="/index.html"><i class="fa fa-fw fa-home"></i>Home</a></li>
      <li><a href="/add.html">Add</a></li>
      <li><a href="/modify.html">Modify</a></li>
      <li><a href="/delete.html">Delete</a></li>
      <li><a href="/view.html">Search</a></li>
      <li>
        <form action="/getallpeople" method="get">
          <button>Display</button>
        </form>
      </li>
      <li class="right"><a href="/help.html">Help</a></li>
    </ul>
  </nav>
  
  <div class="container">
    

    <p>Task unsuccessful
        
    </p>

</div>
        
</body>
</html>
